/*Main CSS Sheet*/
@import url('https://fonts.googleapis.com/css?family=Courgette');
@font-face {
    font-family: 'ming_gothic_jjcrprima';
    src: url('fonts/ming_gothic-webfont.woff2') format('woff2'),
         url('fonts/ming_gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#menu {
	position: fixed;
	top:0px;
	left:0px;
	z-index: 1;
	line-height: 30px;
	margin: 5px;
}

#head {
	height:95%;
	background-color: black;
}
#body h1 {
	font-family: 'ming_gothic_jjcrprima';
	letter-spacing: 0.2em;
}
.indexbar {
	width:100%;
	height:auto;
	text-align:center;
	padding:1em;
}

#introbar {

}
#discordbar {

}
#gallerybar {

}

#intro {
	background: transparent url("placeholderIMG/placeholder3.png") no-repeat scroll center center;
	background-size:cover;
	width:100%;
	height:80%;
}
#discord {
	background: transparent url("placeholderIMG/placeholder2.png") no-repeat scroll center center;
	background-size:cover;
	width:100%;
	height:80%;
}
#gallery {
	background: transparent url("placeholderIMG/placeholder1.png") no-repeat scroll center center;
	background-size:cover;
	width:100%;
	height:80%;
}
.foreground {
	background: rgba(0,0,0,0.4);
	color: white;
	width: 75%;
    height: 75%;
    text-align: center;
	padding: 1em;
	margin: 20px;
}


#head h1 {
	font-family: 'ming_gothic_jjcrprima'!important;
	letter-spacing: 0.2em;
	font-variant: small-caps;
	font-size:2.5em;
	color:white;
	text-align:center;
}

#head h4 {
	font-family: Courgette!important;
	text-align: center;
	float:left;
}
#head button {
	font-family: 'Courgette'!important;
	font-variant: small-caps!important;
	float:right;
}
.contentbtn {
	float: right;
	vertical-align: bottom;
	font-family: 'Courgette'!important;
	font-variant: small-caps!important;
	margin: 20px;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: top-middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}


#minigal img {
	width: 100%;
	height: auto%;
}
#minigal td {
	background: black;
	padding: 15px;
}

.fullscreen {
	position:absolute;
	top: 0px; right: 0px; bottom:0px; left:0px;
}
.fullscreen img {
	width: 100%;
	height: auto;
}
.modal-dialog {
	width:90%!important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    font-family: 'Courgette';
    letter-spacing: 0.1em;
    font-variant:small-caps;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*leadership specific CSS */
#leadheader {
	height: 10%;
	width: 100%;
	font-family: 'ming_gothic_jjcrprima';
	background-color: black;
	color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
	letter-spacing: 0.3em;
}

#leadership {
	background-color: green;
}

.leadershipbox h2 {
	background-color: black;
	width: 20%;
	height: 10%;
	border: 1px solid black;
	display: inline-block;
	padding: 15px;
	margin: 15px;
	cursor: pointer;
}

.leaderbar {
	width: 95%;
	height:10%;
	font-family: 'ming_gothic_jjcrprima';
	background-color: black;
	color: white;
	text-align: center;
	letter-spacing: 0.3em;
	margin: 25px auto 25px auto;
	
}
.leaderbar h1 {
	padding-top:20px;
}
.leadershipbox {
	width: 90%;
	text-align: center;
	margin: auto;
	padding: 5px;
	margin: 25px auto 25px auto;
	font-family: 'Courgette';
	text-align: center;
}
#guildleader {

}
#guildofficer {

}
.leadershipdesc {
	border: 1px solid black;
	border-radius: 0px;
	background-color: black;
	color: white;
	text-align: center;
}

.leadershipdesc h1 {
	font-family: 'ming_gothic_jjcrprima';
	letter-spacing: 0.3em;
}
.leadershipdesc h5 {
	font-family: 'Courgette';
}